@import url(chrome://global/skin/);

easynzbdl-searchResultItem { 
  -moz-binding: url(chrome://easynzbdl/content/searchResultItem.xml#easynzbdl-searchResultItem);
}

easynzbdl-searchResultBox { 
  -moz-binding: url(chrome://easynzbdl/content/searchResultBox.xml#easynzbdl-searchResultBox);
}

.downloadbutton {
	width: 16px;
	height: 16px;
	list-style-image: url(chrome://easynzbdl/content/download-cloud.png);
	-moz-image-region: rect(0, 15, 15, 0);
}
