@import url(chrome://global/skin/);

easynzbdl-searchResultItem { 
  -moz-binding: url(chrome://easynzbdl/content/searchResultItem.xml#easynzbdl-searchResultItem);
}

easynzbdl-searchResultBox { 
  -moz-binding: url(chrome://easynzbdl/content/searchResultBox.xml#easynzbdl-searchResultBox);
}

image.downloadbutton {
	cursor: pointer;
}

.expandbutton {
	cursor: pointer;
}

.withscrollbars {
	overflow:auto;
}
